// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #0b315c;
$brand-secondary:      #008FC5;
$brand-tertiary:      #EE2049;
